* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --action-color: blueviolet;
  --plain-border: 1px solid black;
  --small-font: 0.8em;
  --medium-font: 1.1em;
  --large-font: 1.4em;
  --average: 0.6rem;
}

html {
  height: 100svh;
  width: 100svw;
}

