html {
    height: 100svh;
    padding: 0;
    margin: 0;
}

a {
    border: 1px solid black;
    background-color: hsla(31, 73%, 90%, 0.5);
    padding: 2px 5px;
    font-size: 1.4em;
    color: rgb(15, 29, 24);
}

a:hover {
    display: inline-block;
    background-color: blueviolet;
    transform: scaleX(1.1);
    margin-left: 10px;
}