* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgb(52, 4, 51), blue);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    color: antiquewhite;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
}

.calculator {
    background-color: hsla(271, 20%, 53%, 0.6);
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 7;
    border-radius: 20px 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.display {
    background-color: hsl(271, 20%, 53%);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 20px 0 0 0;
}

.row-one {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    p {
        background-color: hsl(270, 21%, 62%);
    }
}

.row-two {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    p {
        background-color: hsl(270, 21%, 62%);
    }
}

.row-three {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    p {
        background-color: hsl(270, 21%, 62%);
    }
}

.row-four {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    p {
        background-color: hsl(270, 21%, 62%);
    }
}

.row-five {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    p {
        background-color: hsl(270, 21%, 62%);
    }

    .one {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
